<%- include('partials/header'); %>
<%- include('partials/sidebar'); %>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-user-md"></i> Profile</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/ppms">Home</a></li>
          <li><i class="icon_documents_alt"></i>Pages</li>
          <li><i class="fa fa-user-md"></i>Profile</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <!-- profile-widget -->
      <div class="col-lg-12">
        <div class="profile-widget profile-widget-info">
          <div class="panel-body">
            <!-- 14 Feb -->
            <!-- <div class="col-lg-2 col-sm-2">
              <div class="follow-ava">
                <img src="img/profile-widget-avatar.jpg" alt="">
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
    <!-- page start-->
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading tab-bg-info">
            <ul class="nav nav-tabs">
              <li>
                <a data-toggle="tab" href="#profile">

                  Profile
                </a>
              </li>
              <li class="">
                <a data-toggle="tab" href="#edit-profile">

                  Edit Profile
                </a>
              </li>
              <li class="">
                <a data-toggle="tab" href="#change-password">

                  Change Password
                </a>
              </li>
            </ul>
          </header>
          <div class="panel-body">
            <div class="tab-content">
              <!-- profile -->
              <div id="profile" class="tab-pane <%=viewProfileTab%>">
                <section class="panel">
                  <div class="panel-body bio-graph-info">
                    <h1>Bio Graph</h1>
                    <div class="row">
                      <div class="bio-row">
                        <p><span>First Name </span>: <%=userResult.first_name%> </p>
                      </div>
                      <div class="bio-row">
                        <p><span>Last Name </span>: <%=userResult.last_name%></p>
                      </div>
                      <div class="bio-row">
                        <p><span>Designation </span>: <%=userResult.designation%></p>
                      </div>
                      <div class="bio-row">
                        <p><span>Email </span>: <%=userResult.email%></p>
                      </div>
                      <div class="bio-row">
                        <p><span>Mobile </span>: <%=userResult.mobile%></p>
                      </div>
                    </div>
                  </div>
                </section>
                <section>
                  <div class="row">
                  </div>
                </section>
              </div>
              <!-- edit-profile -->
              <div id="edit-profile" class="tab-pane <%=editProfileTab%>">
                <section class="panel">
                  <div class="panel-body bio-graph-info">
                    <h1> Profile Info</h1>
                    <%- include('partials/alert_messages'); %>
                    <form class="form-horizontal" role="form" action="/ppms/update_profile" method="POST">
                      <div class="form-group">
                        <label class="col-lg-2 control-label">User Name</label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" disabled id="user_name" name="user_name"
                            placeholder=" " value="<%=userResult.user_name%>">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">First Name</label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="first_name" name="first_name"
                            placeholder="First Name" value="<%=userResult.first_name%>">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Last Name</label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="last_name" name="last_name"
                            placeholder="Last Name" value="<%=userResult.last_name%>">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Designation</label>
                        <div class="col-lg-6">
                          <select class="form-control" id="designation" name="designation"
                            value="<%=userResult.designation%>">
                            <!-- 15 Feb -->
                            <option value="--- Choose ---">--- Choose ---</option>
                            <option value="TS PM">TS PM</option>
                            <option value="TS Portfolio Mgr">TS Portfolio Mgr</option>
                            <option value="TS Entity/Institution CIO">TS Entity/Institution CIO</option>
                            <option value="TS Project Director">TS Project Director</option>
                            <option value="TS GCIOO">TS GCIOO</option>
                            <option value="TS GFC">TS GFC</option>
                            <option value="TS BSG Director">TS BSG Director</option>
                            <option value="TS DS & AI Lead">TS DS & AI Lead</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" disabled id="email" name="email"
                            placeholder="abc@xyz.com" value="<%=userResult.email%>">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Mobile</label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="mobile" name="mobile"
                            placeholder="8-digit SG number" value="<%=userResult.mobile%>">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                          <button type="submit" class="btn btn-primary">Save</button>
                          <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </section>
              </div>
              <!-- Change Password-->
              <div id="change-password" class="tab-pane <%=changePwdTab%>">
                <section class="panel">
                  <div class="panel-body bio-graph-info">
                    <h1> Change Password</h1>
                    <%- include('partials/alert_messages'); %>
                    <form class="form-horizontal" role="form" action="/ppms/update_pwd" method="POST">
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Current Password</label>
                        <div class="col-lg-6">
                          <input type="password" class="form-control" id="curr_pwd" name="curr_pwd" placeholder=" ">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">New Password</label>
                        <div class="col-lg-6">
                          <input type="password" class="form-control" id="new_pwd" name="new_pwd" placeholder=" ">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Confirm New Password</label>
                        <div class="col-lg-6">
                          <input type="password" class="form-control" id="conf_new_pwd" name="conf_new_pwd"
                            placeholder=" ">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                          <button type="submit" class="btn btn-primary">Save</button>
                          <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- page end-->
  </section>
</section>
<!--main content end-->
</section>
<!-- container section end -->
<%- include('partials/footer'); %>